/*
* @Author: xgx
* @Date:   2018-12-29 20:51:56
* @Last Modified by:   xgx
* @Last Modified time: 2018-12-29 20:58:42
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}